# Default ignored files
/shelf/
/workspace.xml
/bin/
/obj/
/git/
/.idea/
/analysislevel_6_default.editorconfig
# Rider ignored files
/contentModel.xml
/.idea.GameProjectULearn.iml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
